
  <div class = "jumbotron">
    <%=image_tag("Indysketch.jpg")%>

    <div class="title-text">
      <div class="col-xs-1"></div>
      <div class="col-xs-11">
        <h1><sym class="glyphicon glyphicon-pushpin"></sym> Rubyists of Indy </h1>
        <h4>Finding them via GitHub, for all your coding needs.</h4>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div>



<div class="container">
  <%@user_info.each_slice(4) do |four|%>
  <div class="row">
    <% four.each do |user|%>
      <div class="col-xs-3">
        <div class="rubyist-info">
          <h3 class="names"><%=link_to(user.name.downcase, user.html_url)%></h3>
          <p>On Github Since: <%=user.created_at.strftime("%m/%d/%Y")%></p>
          <p>Public Repos: <%=user.public_repos%></p>
          <p>Followers: <%=user.followers%></p>
        </div>
      </div>
      <%end%>
    </div>
    <%end%>


</div>
